# MongoDB connection string
MONGODB_URI=mongodb+srv://isurusenarath:isuru123@todolist.w8ednsg.mongodb.net/?retryWrites=true&w=majority&appName=todolist

# Port for the server (optional, defaults to 5000)
PORT=5000

# Frontend URL for CORS (optional, defaults to http://localhost:5173)
FRONTEND_URL=https://todo-deploy-8xsv.vercel.app/